@model TicketingTool.Models.ViewModel.vm_master

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .fa-check-circle {
        color: darkgreen;
    }
</style>

<link href="~/Content/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/custom.css" rel="stylesheet" />

<section class="content-header">
    <h1>
        Manage
        <small>In Bound</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
        <li class="active">In Bound</li>
    </ol>
</section>

<section class="content">
    <input type="hidden" id="id" />
    <div class="box box-primary box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">In Bound List</h3>
            <div class="box-tools pull-right">
                <a href="@Url.Action("Create","InBound")" class="btn btn-success btn-sm btnsave" id="btnSave">
                    Create New Port Call
                </a>
            </div>
        </div>

        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-responsive table-hover table-striped" id="tbl_InBound">
                    <thead id="theadIssuesResult" class="customThead">
                        <tr>
                            <th>Action</th>
                            <th>Approval Status</th>
                            <th>Port Call Code</th>
                            <th>ETA</th>
                            <th>Vessel</th>
                            <th>Discharge Port</th>
                            <th>Ref No</th>
                            <th>RCN No</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="CanView" value="@ViewBag.CanView" />
    <input type="hidden" id="IsDownload" value="@ViewBag.IsDownload" />
    <input type="hidden" id="CanUpdate" value="@Session["CanUpdate"]" />
    <input type="hidden" id="CanDelete" value="@Session["CanDelete"]" />
    <input type="hidden" id="CanPrint" value="@ViewBag.CanPrint" />
    <input type="hidden" id="CanVerify" value="@Session["CanVerify"]" />
</section>

@section scripts{
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/custom_scripts/settings/InBound_Dashboard.js"></script>
    @*<script src="~/Content/custom_scripts/settings/CommomMaster.js"></script>*@
    <style>
        .approved {
            font-weight: bold;
            color: red;
        }
    </style>
}
