@model TicketingTool.Models.ViewModel.vm_master
@{
    ViewBag.Title = "Edit Request";
}
<input type="hidden" id="id" value="@ViewBag.id" />
<input type="hidden" id="autoid" value="@ViewBag.auto_id" />
<input type="hidden" id="requirement_type" />
<div class="modal fade" id="Rejection" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rejection Reason</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="message_rejection" rows="7" required cols="85"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnsent_Rejection">Sent</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pending Requestor Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="message" rows="7" cols="85"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnsent">Sent</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="DevModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Developer Task</h5>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Task ID</label>
                        <input type="text" class="form-control" id="Taskid" style="pointer-events: none; cursor: not-allowed; background-color: #f0f0f0;">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Task Details</label>
                        <input type="text" class="form-control" id="taskdetails">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Employee Name</label>
                        @Html.DropDownList("employeeid", new SelectList(ViewBag.DevelopersforTask, "employeeid", "employee_name"), new { @class = "form-control input-sm", @id = "employeeid" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Status</label>
                        <select class="form-control" id="taskstatus" name="taskstatus">
                            <option value="0">Select Status</option>
                            <option value="1">Assigned</option>
                            <option value="2">In Progress</option>
                            <option value="3">Completed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Task Comments</label>
                        <input class="form-control input-sm" type="text" id="TaskComments" name="TaskComments" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnTaskUpdate">Update</button>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="box box-primary box-solid bg-info">
        <div class="box-header with-border">
            <h3 class="box-title">Update Request</h3>
            <div class="box-tools pull-right">
                @*@if (ViewBag.btnsave == true)
                    {*@
                <a href="#" class="btn btn-success btn-sm btnsave" id="btnSave">
                    Save
                </a>
                @*//}*@
                <a href="@Url.Action("Index","NewRequest")" class="btn btn-sm btn-danger btnCancel" id="btnCancel"> Cancel</a>
            </div>
        </div>
        <div class="box-body">
            <input type="hidden" value="@ViewBag.requirementType" id="requirement_type" />
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Request Id <span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm" value="@ViewBag.auto_id" readonly="readonly" id="auto_id" placeholder="Auto ID">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Date <span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm datepicker" id="date_of_request" readonly="readonly" placeholder="Date Of Request">
                </div>
                <div class="col-md-3">
                    <div class="form-group-sm">
                        <label for="exampleInputEmail1">Request for<span class="mandatoryIndicator">*</span></label>
                        <div class="form-group-sm" id="AssignToPersonSection">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" id="requester" name="requester" value="@ViewBag.Requester" />
                                <input type="hidden" class="form-control input-sm" id="hfCustomer" name="CustomerId" value="@ViewBag.Requester" />
                                <div class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="form-group col-md-3">
            <label for="exampleInputtext1">Requester <span class="mandatoryIndicator">*</span></label>
            <input type="text" class="form-control input-sm" maxlength="250" id="requester" placeholder="Requester" readonly="readonly">
        </div>*@
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">LM Of Requester <span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm" maxlength="250" id="lm_of_requested" readonly="readonly" placeholder="LM Of Requester">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Priority <span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Title", new SelectList(Model.priorities, "id", "priority_name"), new { @class = "form-control input-sm", @id = "request_priority" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Title <span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm" id="request_title" maxlength="250" placeholder="Title">
                </div>

                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Project<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Project", new SelectList(Model.projects, "id", "project_name"), new { @class = "form-control input-sm", @id = "project_name" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Customer<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("customer_name", new SelectList(Model.customers, "id", "customer_name"), new { @class = "form-control input-sm", @id = "customer" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Vendor<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Title", new SelectList(Model.vendors, "id", "vendor_name"), new { @class = "form-control input-sm", @id = "vendor" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Technology<span class="mandatoryIndicator">*</span> <span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Title", new SelectList(Model.technologies, "id", "technology_name"), new { @class = "form-control input-sm", @id = "technology" })
                </div>

                <!--<div class="form-group col-md-3">
    <label for="exampleInputtext1">Technology <span class="mandatoryIndicator">*</span></label>-->
                @*@Html.DropDownList("Title", new SelectList(Model.technologies, "id", "technology_name"), new { @class = "form-control input-sm", @id = "technology" })*@
                <!--<select id="technology" name="technology" class="form-control input-sm"></select>
    </div>-->
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Node Type <span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("NodeType", new SelectList(Model.node_types, "id", "node_type_name"), new { @class = "form-control input-sm", @id = "node_type" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Domain<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Title", new SelectList(Model.domains, "id", "domain_name"), new { @class = "form-control input-sm", @id = "domain" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">CLI/GUI</label>
                    @Html.DropDownList("Title", new SelectList(Model.mastercligui, "id", "cli_ui_name"), new { @class = "form-control input-sm", @id = "cli_ui_name" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Connectivity Avail.</label>
                    @Html.DropDownList("Connectivity Availability", new SelectList(Model.boolean_dropdowns, "Value", "Key"), new { @class = "form-control input-sm", @id = "connectivity_availability" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Crediential Avail.</label>
                    @Html.DropDownList("Crediential Availability", new SelectList(Model.boolean_dropdowns, "Value", "Key"), new { @class = "form-control input-sm", @id = "crediential_availability" })
                </div>

                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Function <span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("functions", new SelectList(Model.functions, "id", "function_name"), new { @class = "form-control input-sm", @id = "function_id" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Function Level <span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("function_level", new SelectList(Model.function_levels, "id", "function_level"), new { @class = "form-control input-sm", @id = "function_level" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Region/Country <span class="mandatoryIndicator">*</span></label>
                    @*@Html.DropDownList("Title", new SelectList(Model.regions, "id", "region_name"), new { @class = "form-control input-sm", @id = "region" })*@
                    <select id="region" name="region" class="form-control input-sm"></select>
                </div>

                <div class="form-group col-md-3" style="display:none">
                    <label for="exampleInputtext1">Exp Completion (hr) <span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm numberonly" maxlength="8" id="expected_time_effort_hr" placeholder="Completion Time">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Exp. Completion Date </label>
                    <input type="text" class="form-control input-sm" id="expected_time_effort_date" placeholder="Completion Date">
                </div>
                <div class="form-group col-md-3" id="Dcost_value">
                    <label for="exampleInputtext1">Cost Value<span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm numberonly" maxlength="8" id="cost_value" placeholder="Cost Value">
                </div>


                <div class="form-group col-md-3" style="display:none">
                    <label for="exampleInputtext1">Developer Name</label>
                    <input type="text" class="form-control input-sm" id="developer_name" maxlength="250" placeholder="Developer Name">
                </div>
                <div class="form-group col-md-3" style="display:none">
                    <label for="exampleInputtext1">Project Manager</label>
                    <input type="text" class="form-control input-sm" id="project_manager" maxlength="250" placeholder="Project Manager">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Exp. Devlop. Cost</label>
                    <input type="text" class="form-control input-sm numberonly" maxlength="8" id="expected_cost_of_development" placeholder="Exp. Development Cost">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Act. Development(Hrs.)</label>
                    <input type="text" class="form-control input-sm numberonly" maxlength="8" id="actual_time_of_development_hour" placeholder="Act. Development(Time)">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Exp. Development(MWD)</label>
                    <input type="text" class="form-control input-sm numberonly" maxlength="8" id="expected_time_of_development_hour" placeholder="Exp. Development(Hr)">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">SDLC Status</label>
                    @Html.DropDownList("sdlc_status", new SelectList(Model.sdlcs, "id", "sdlc_status"), new { @class = "form-control input-sm", @id = "sdlc_status" })
                </div>
                <div class="form-group col-md-3" style="display:none">
                    <label for="exampleInputtext1">Solution Architect</label>
                    <input type="text" class="form-control input-sm" id="solution_architect" maxlength="250" placeholder="Solution Architect">
                </div>
                @*<div class="form-group col-md-3">
            <label for="exampleInputtext1">Tester Name</label>
            <input type="text" class="form-control input-sm" id="tester_name_sit" maxlength="250" placeholder="Tester Name">
        </div>*@
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">UAT Offered</label>
                    @Html.DropDownList("UATOffered", new SelectList(Model.boolean_dropdowns, "Value", "Key"), new { @class = "form-control input-sm", @id = "is_uat_offered" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Correction During UAT</label>
                    @Html.DropDownList("CorrectionDuringUAT", new SelectList(Model.boolean_dropdowns, "Value", "Key"), new { @class = "form-control input-sm", @id = "is_correction_during_uat" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Enchancement In UAT</label>
                    @Html.DropDownList("EnchancementDuringUAT", new SelectList(Model.boolean_dropdowns, "Value", "Key"), new { @class = "form-control input-sm", @id = "is_enhancement_during_uat" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Live</label>
                    @Html.DropDownList("Live", new SelectList(Model.boolean_dropdowns, "Value", "Key"), new { @class = "form-control input-sm", @id = "is_live" })
                </div>

                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Resolution Offered</label>
                    @Html.DropDownList("is_resolution_offered", new SelectList(ViewBag.BooleanDropdown, "Value", "Key"), new { @class = "form-control input-sm", @id = "is_resolution_offered" })
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Benefits</label>
                    @Html.DropDownList("Efficiency", new SelectList(Model.efficiencies, "id", "efficiency_name"), "Select", new { @class = "form-control input-sm", @id = "efficiency" })
                </div>
                <div class="form-group col-md-3" id="efficiency_value_section" style="display:none">
                    <label for="exampleInputtext1" id="efficiency_label">Benefits Value</label>
                    <input type="text" class="form-control input-sm" id="efficiency_value">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Status</label>
                    @Html.DropDownList("Status", new SelectList(Model.statuses, "id", "status_name"), new { @class = "form-control input-sm", @id = "request_status" })
                </div>
                <div class="form-group col-md-3" id="shairpoint" style="display:none">
                    <label for="exampleInputtext1" id="shairpoint_label"> <span>Enter Shairpoint URL</span></label>
                    <input type="text" class="form-control input-sm" id="shairpoint_url" placeholder="Enter URL">
                    <input type="hidden" id="ShairpointValue" value="@Session["shairpoint_url"]" />
                    <a id="shairpointLink" target="_blank" href="#">Open SharePoint Location</a>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">Details</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="exampleInputtext1">Description<span class="mandatoryIndicator">*</span></label>
                    <textarea type="text" cols="50" maxlength="500" rows="4" class="form-control input-sm" id="request_description" placeholder="Enter Description Of Request"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputtext1">Notes</label>
                    <textarea type="text" rows="4" maxlength="500" cols="50" class="form-control input-sm" id="request_notes" placeholder="text"></textarea>
                </div>
            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">Uploads</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="exampleInputtext1">Attachment Name</label>
                    <input type="text" class="form-control input-sm" maxlength="250" id="mop_or_sop">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputFile">Attachment(s)</label>
                    <input type="file" class="form-control input-sm" id="mop_sop_attachment_path" multiple>
                </div>
                <div class="table-responsive" id="tbldata">

                </div>
            </div>
        </div>
        <div class="box-header with-border" id="task_head" style="display:none">
            <h3 class="box-title">Assign Task to Team Member's</h3>
        </div>
        <div class="box-body" id="task" style="display:none">
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputtext1">Project Manager<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Masterprojectmanager", new SelectList(Model.masterprojectmanager, "id", "project_manager_name"), new { @class = "form-control input-sm", @id = "project_manager_name" })
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputtext1">Solution Architect<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("Mastersolutionarchitect", new SelectList(Model.mastersolutionarchitect, "id", "master_solution_architect_name"), new { @class = "form-control input-sm", @id = "master_solution_architect_name" })
                </div>
                <div class="form-group col-md-4" style="display:none">
                    <label for="exampleInputtext1">Tester Name</label>
                    <input type="text" class="form-control input-sm" id="tester_name_sit" maxlength="250" placeholder="Tester Name">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputtext1">Tester Name<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("tester_name", new SelectList(ViewBag.TesterList, "employee_id", "employee_name"), new { @class = "form-control input-sm", @id = "tester_name" })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="exampleInputtext1">Developer Name<span class="mandatoryIndicator">*</span></label>
                    @Html.DropDownList("employee", new SelectList(ViewBag.Developers, "employee_id", "employee_name"), new { @class = "form-control input-sm", @id = "employee_id" })
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputtext1">Task<span class="mandatoryIndicator">*</span></label>
                    <input type="text" class="form-control input-sm" id="task_details" placeholder="Task Name">
                </div>
                <div class="form-group col-md-4 box-tools pull-right" style="margin-top: 23px;">
                    <button type="button" class="btn btn-primary" id="btnAddDevTask">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <div class="table-responsive" id="DevTable">
                    </div>
                </div>

            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title">Comments</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group col-md-11">
                    <input type="text" style="background-color: aquamarine" id="ChatMessage" placeholder="Type Message..." class="form-control">
                </div>
                <div class="form-group col-md-1 box-tools pull-right" style="margin-top: -48x; margin-right: 0px;">
                    <button type="button" class="btn btn-primary" id="btnChatSent">Save</button>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="card card-primary direct-chat direct-chat-primary">
                    <div class="card-body" id="tblChatDate">
                    </div>
                </div>
            </div>
        </div>

        <div class="box-header with-border">
            <h3 class="box-title">Status History</h3>
        </div>
        <div class="box-body" id="StatusHistory">

        </div>
        <div class="box-body" id="StatusHistory">
        </div>

        <!--<div class="box-body">
        <div class="box box-default">
            <div class="box-header with-border">
                <h2 class="box-title">Audit History</h2>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>

            <div class="box-body box box-default collapsed-box" id="HistoryData">

            </div>
        </div>-->
        @*<ul class="timeline">
                <li class="time-label">
                    <span class="bg-red">
                        Jun 04, 2023
                    </span>
                </li>
                <li>
                    <i class="fa fa-history bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:44</span>
                        <h3 class="timeline-header"><a href="#">Arora Sandeep</a> ...</h3>
                        <div class="timeline-body">
                            is_correction_during_uat: True</br>
                            sdlc_status: 39686d96-8f9c-ed11-b6b9-a864f15c6e2f
                        </div>
                    </div>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:4</span>
                        <h3 class="timeline-header"><a href="#">r Sandeep</a> ...</h3>
                        <div class="timeline-body">
                            is_correction_during_uat: True</br>
                            sdlc_status: 39686d96-8f9c-ed11-b6b9-a864f15c6e2f
                        </div>
                    </div>
                </li>
            </ul>*@
        @* <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red">
                        Jun 03, 2023
                    </span>
                </li>
                <li>
                    <i class="fa fa-history bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 14:33</span>
                        <h3 class="timeline-header"><a href="#">Mukut Raj</a> ...</h3>
                        <div class="timeline-body">
                            is_resolution_offered: True
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red">
                        Jun 02, 2023
                    </span>
                </li>
                <li>
                    <i class="fa fa-history bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 15:40</span>
                        <h3 class="timeline-header"><a href="#">Mukut Raj</a> ...</h3>
                        <div class="timeline-body">
                            is_resolution_offered: True</br>
                            cost_value: 1002</br>
                            is_correction_during_uat: False</br>
                            is_enhancement_during_uat: False</br>
                            is_live: False</br>
                            is_uat_offered: False</br>
                            sdlc_status: 20154607-8b98-ed11-b6b9-a864f15c6e2f
                        </div>
                    </div>
                </li>
            </ul>*@
        <!--</div>-->
    </div>

    <input type="hidden" id="sessionValue" value="@Session["access_role"]" />
    <input type="hidden" id="sessionUserName" value="@Session["user_name"]" />
    <input type="text" id="request_for" style="display:none" />
</section>

@section scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Content/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/EditNewRequests")
    @Scripts.Render("~/bundles/datepicker")
    @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" el="Stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
}